* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FBF8F1;
    margin: 4rem 0;
}

.mystyles {
    font-size: 1.2rem;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    text-align: center;
}

.myheadings,
.afconh2 {
    font-size: 2rem;
    font-family: 'Comforter', cursive;
    text-align: center;
    letter-spacing: .4rem;
    background: #FF9F45;
    margin: .3rem 32%;
    padding: 1.2rem;

}

.car {
    padding: 1rem 0;
    font-size: 2rem;
}

.afconh2 {
    margin-bottom: 2rem;
    /* padding: 1.2rem 0; */
}

.afcon {
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
}

.afcon span {
    background: #8BDB81;
    padding: 0 .7rem;
}

.winner span {
    font-size: 1.6rem;
    padding: 0 .5rem;
    letter-spacing: .1rem;
    background: #222;
    color: #F76E11;
}